@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "WorkSans";
  src: url("fonts/WorkSans-Medium.ttf") format('truetype');
}

@font-face {
  font-family: "Octin Spraypaint";
  src: url("fonts/octin spraypaint a rg.otf") format('opentype');
}

* {
  font-family: 'WorkSans', sans-serif;
}

a {
  color: rgb(76, 76, 241);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:visited {
  color: rgb(94, 0, 216);
}

a:hover {
  color: rgb(131, 131, 243);
  cursor: pointer;
  text-decoration: underline;
}

.logo {
  color: #ee260c;
  font-family: 'Octin Spraypaint', sans-serif;
  font-size: 2.5rem;
}

.status {
  color: #ff7070;
  font-family: 'Octin Spraypaint', sans-serif;
}

.desk {
  color: #b31717;
  font-family: 'WorkSans', sans-serif;
}